<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Detalle del Proyecto</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/estilos.css">
        <script src="/js/usuario-logueado.js"></script>
        <script src="/js/alertas.js"></script>
    </head>
    <body>

        <!-- Header -->
        <header class="header">
            <h2 class="logo">DevFlow</h2>
            <div class="user-info">
                <div class="user-dropdown">
                    <div class="user-avatar" onclick="toggleDropdown()">
                        <img src="/img/usuario-administrador.png" alt="Avatar" class="avatar-img">
                        <span th:text="${usuario.nombre}">Nombre</span>
                        <span class="arrow">▼</span>
                    </div>
                    <div class="dropdown-menu" id="userMenu">
                        <a href="/admin">Perfil</a>
                        <a href="/login">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Contenedor principal -->
        <div class="main-container">
            <!-- Barra lateral -->
            <nav class="sidebar">
                <ul>
                    <li>🏠 <a href="#">Inicio</a></li>
                    <li>📁 <a href="/admin/proyectos">Proyectos</a></li>
                    <li>👥 <a href="/admin/usuarios">Usuarios</a></li>
                    <li>🧠 <a href="/admin/desarrolladores">Desarrolladores</a></li>
                </ul>
            </nav>

            <!-- Contenido principal -->
            <main class="content">
                <section class="user-card">
                    <p><strong>ID:</strong> <span th:text="${usuario.id}">user_name</span></p>
                    <p><strong>Nombre:</strong> <span th:text="${usuario.nombre}">user_name</span></p>
                    <p><strong>Email:</strong> <span th:text="${usuario.email}">user_email</span></p>
                    <p><strong>Teléfono:</strong> <span th:text="${usuario.telefono}">user_tel</span></p>
                    <p><strong>Rol:</strong> <span th:text="${usuario.rol}">user_rol</span></p>
                </section>
                <div class="new-element-btn">
                    <a th:href="@{'/admin/usuarios/editar/' + ${usuario.id}}">
                        <button type="button">Editar Usuario</button>
                    </a>
                    <a href="/admin/usuarios">
                        <button type="button">Volver a Usuarios</button>
                    </a>
                </div>
            </main>
        </div>
    </body>
</html>
