<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Editar Usuario</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="stylesheet" href="/css/botones.css">
        <link rel="stylesheet" href="/css/formularios.css">
        <script src="/js/usuario-logueado.js"></script>
        <script src="/js/alertas.js"></script>
        <script src="/js/editar-usuario.js" defer></script>
    </head>
    <body>
        <!-- Encabezado -->
        <header class="header">
            <h2 class="logo">DevFlow</h2>
            <div class="user-info">
                <div class="user-dropdown">
                    <div class="user-avatar" onclick="toggleDropdown()">
                        <img src="/img/usuario-administrador.png" alt="Avatar" class="avatar-img">
                        <span th:text="${nombreUsuario}">Nombre</span>
                        <span class="arrow">▼</span>
                    </div>
                    <div class="dropdown-menu" id="userMenu">
                        <a href="/admin">Perfil</a>
                        <a href="/login">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </header>



        <div class="main-container">
            <nav class="sidebar">
                <ul>
                    <li>🟣 <a href="#">Inicio</a></li>
                    <li>🟣 <a href="/admin/proyectos">Proyectos</a></li>
                    <li>🟣 <a href="/admin/usuarios">Usuarios</a></li>
                    <li>🟣 <a href="/admin/desarrolladores">Desarrolladores</a></li>
                </ul>
            </nav>

            <div class="content">
                <h2 class="form-title"> Editar Usuario</h2>

                <form method="POST" th:action="@{'/admin/usuarios/editar/' + ${usuario.id}}" th:object="${usuario}" class="form-container">
                    <label class="form-label" for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" th:value="*{nombre}" required class="form-input">                  


                    <!-- Campo de contraseña oculto por defecto -->
                    <div id="campo-contrasenia" style="display: none;">
                        <label class="form-label" for="nombre">Nueva Contraseña:</label>
                        <input type="password" id="contrasenia" name="contrasenia" th:value="*{contrasenia}" required class="form-input">                  
                    </div>



                    <label class="form-label">Email:</label>
                    <input type="email" id="email" name="email" th:value="*{email}" required class="form-input">

                    <label class="form-label">Teléfono:</label>
                    <input type="text" id="telefono" name="telefono" th:value="*{telefono}" required class="form-input">

                    <label class="form-label">Rol:</label>
                    <select name="rol" required id="rol" th:field="*{rol}" class="form-input">
                        <option value="ADMINISTRADOR" th:selected="${rol == 'ADMINISTRADOR'}">Administrador</option>
                        <option value="GERENTE" th:selected="${rol == 'GERENTE'}">Gerente</option>
                        <option value="CLIENTE" th:selected="${rol == 'CLIENTE'}">Cliente</option>
                    </select>

                    <div th:if="${error}" class="error-message">
                        <p th:text="${error}"></p>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="form-button">Guardar</button>

                        <!-- Botón para mostrar el campo de contraseña -->
                        <button type="button" class="form-button" id="btn-cambiar-contrasenia">Cambiar contraseña</button><br><br>

                        <a href="/admin/usuarios"><button type="button" class="form-button cancel-button">Cancelar</button></a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
