<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>DevFlow - Bienvenido</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gabriela&display=swap" rel="stylesheet">





        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="home-container">
            <div class="home-card">
                <h1>Bienvenido a <span>DevFlow</span></h1>
                <p>Gestioná tus proyectos y usuarios de manera eficiente y profesional.</p>
                <a href="/login" class="btn-iniciar">Iniciar Sesión</a>
            </div>
        </div>
    </body>
</html>
